// Import your custom Quasar variables
@import './quasar.variables.scss';

// Import the STIX Two Text font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

// Apply the font family to the entire site
body {
  font-family: "STIX Two Text", serif;
  font-weight: 400;
}

// Example class for using different font weights
.stix-two-text-bold {
  font-weight: 700;
}

.stix-two-text-italic {
  font-style: italic;
}

// Text colors for buttons
$textWhite: #ffffff;

// Primary color variations (Blue)
$blueVeryLight: #e6f0fa; // Very light blue (almost white)
$blueLight: #b3c7e0; // Light blue
$blueMid: #4c6bb0; // Mid-tone blue
$blueDark: #08182d; // Dark blue
$blueVeryDark: #02080e; // Very dark blue (almost black)

// Highlight color variations (Green)
$greenVeryLight: #d5f5dc; // Very light green (almost white)
$greenLight: #9cdb8f; // Light green
$greenMid: #58af50; // Mid-tone green
$greenDark: #3e7e3c; // Dark green
$greenVeryDark: #1a3a1e; // Very dark green (almost black)

// Accent color variations (Orange)
$orangeVeryLight: #ffebc4; // Very light orange (almost white)
$orangeLight: #ffb366; // Light orange
$orangeMid: #ffa500; // Mid-tone orange
$orangeDark: #c67c00; // Dark orange
$orangeVeryDark: #5a3f00; // Very dark orange (almost black)

// Yellow color variations
$yellowVeryLight: #fffdd0; // Very light yellow (almost white)
$yellowLight: #fff08a; // Light yellow
$yellowMid: #ffd700; // Mid-tone yellow
$yellowDark: #d4b300; // Dark yellow
$yellowVeryDark: #7a5f00; // Very dark yellow (almost black)

// Support color variations (Red)
$redVeryLight: #f2c5cf; // Very light red (almost white)
$redLight: #de4254; // Light red
$redMid: #ac0020; // Mid-tone red
$redDark: #7a0015; // Dark red
$redVeryDark: #4d000c; // Very dark red (almost black)

// Neutral grays
$grayVeryLight: #f8f8f8; // Very light gray (almost white)
$grayLight: #e0e0e0; // Light gray
$grayMid: #777777; // Mid-tone gray
$grayDark: #1d1d1d; // Dark gray
$grayVeryDark: #0a0a0a; // Very dark gray (almost black)

// Purple variations for influential button
$purpleVeryLight: #f3e9fa; // Very light purple (almost white)
$purpleLight: #b091d4; // Light purple
$purpleMid: #9171b9; // Mid-tone purple
$purpleDark: #5d3c8c; // Dark purple
$purpleVeryDark: #2e1d48; // Very dark purple (almost black)

// General page container
.q-page-container {
  padding-top: 0 !important;
}

.q-btn:hover .q-focus-helper {
  background-color: transparent !important;
}

// Supportive Tone Styling
.tone-supportive {
  background-color: $blueVeryLight;
  border: 1px solid $blueLight;
  color: $blueVeryDark;
}

.tone-supportive:hover {
  border: 1px solid $blueMid;

}

// Dominant Tone Styling
.tone-dominant {
  background-color: $orangeVeryLight;
  border: 1px solid $orangeLight;
  color: $blueVeryDark;

}

.tone-dominant:hover {
  border: 1px solid $orangeMid;


}

// Influential Tone Styling
.tone-influential {
  background-color: $yellowVeryLight;
  border: 1px solid $yellowLight;
  color: $purpleVeryDark;
}

.tone-influential:hover {
  border: 1px solid $yellowMid;


}

// Conscientious Tone Styling
.tone-conscientious {
  background-color: $blueDark;
  color: $textWhite;
  border: 1px solid $blueLight;

}

.tone-conscientious:hover {
  border: 1px solid $blueMid;
  background-color: $blueVeryLight;
  color: $blueVeryDark;
}


.tone-message-box {
  padding: 2rem 3rem 1.5rem;
  border-radius: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s,
    font-size 0.3s;
  font-size: 1.11rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;

}

.tone-message-box:hover {
  transform: translateY(-1px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.11);
  font-size: 1.111rem;
  transition: all 0.3s ease-in-out;
}

    .hero-message-container {
      //   display: flex;
      gap: 1.5rem;
      margin-bottom: 3rem;
    }

    .supportive-wrapup {
      margin-top: 1rem;
      font-size: 1.2rem;
      text-align: center;
      color: $blueVeryDark;
      margin-bottom: 3rem;
    }
