// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// Quasar Default Variable Overrides
$primary: #0b2545; // Dark Muted Blue
$secondary: #5dbb63; // Dark Muted Green
$accent: #FA8128; // Dark Muted Orange
$dark: #1D1D1D; // Dark Gray
$positive: #5dbb63; // Same as green for success indicators
$negative: #680c07; // Dark Muted Red
$info: #0b2545; // Blue for informational elements
$warning: #FFAE1A; // Mid-tone Orange for warnings

// Additional Custom Variables (if needed)
